/* Global css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f4f6f8;
  max-width: 100wh;
}

/* main */

.main {
  display: flex;
  width: 100vw;
  max-width: 100vw;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 3rem;
  color: #222b45;
  height: 80vh;
}

/* end main */

/* Chart */

.chart-container {
  flex: 1;
}

/* end Chart */

/* data global */

.data-global {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.data-global .title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.data-global .date {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
}

.ifected-data {
  flex: 2;
  background-color: #f2b900;
}

.bundle-data {
  display: flex;
  flex-direction: row;
  flex: 2;
  justify-content: center;
}

.died-data {
  flex: 1;
  background-color: #f26353;
}

.recover-data {
  flex: 1;
  background-color: #52cc99;
}

.recover-data,
.died-data,
.ifected-data {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 8px;
  color: white;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  font-weight: 700;
}

.recover-data p,
.died-data p,
.ifected-data p {
  font-size: 1.5rem;
  color: white;
  font-weight: normal;
}

/* data global */

/* data Country */

section.regional {
  width: 90vw;
  height: 60vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-regional {
  width: 80%;
}

.container-regional h1 {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: #222b45;
}

/* covid country */
.data-regional {
  display: flex;
  width: 80%;
  margin: auto;
  padding: 0.5rem 1rem;
  justify-content: center;
  height: 30vh;
}

.data-regional .deaths {
  border: 2px solid #f26353;
  background-color: #f26353;
  color: white;
}

.data-regional .confirmed {
  border: 2px solid #f2b900;
  background-color: #f2b900;
  color: white;
}

.data-regional .recovered {
  border: 2px solid #52cc99;
  background-color: #52cc99;
  color: white;
}

.data-regional .recovered,
.data-regional .confirmed,
.data-regional .deaths {
  width: 300px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 2.5rem;
  font-weight: 700;
  flex: 1;
  margin: 1rem;
}

.data-regional .recovered p,
.data-regional .confirmed p,
.data-regional .deaths p {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  font-weight: normal;
}
/* end covid country */
/* end data Country */

/* footer */
footer {
  background-color: #222b45;
  color: white;
  font-size: 1.5rem;
  padding: 2rem;
  width: 100wh;
}

footer p {
  text-align: center;
}
/* end footer */

/* media query */
@media screen and (max-width: 700px) {
  .main {
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
  }

  .data-global {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }

  .recover-data,
  .died-data,
  .ifected-data {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 8px;
    color: white;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    font-weight: 700;
  }

  .recover-data p,
  .died-data p,
  .ifected-data p {
    font-size: 1rem;
    color: white;
    font-weight: normal;
  }

  section.regional {
    padding: 0.5rem;
    width: 100vw;
    height: 100vh;
  }

  .data-regional {
    display: flex;
    width: 100%;
    margin: auto;
    flex-direction: column;
    padding: 0.5rem 1rem;
    align-items: center;
    height: 80vh;
  }

  .data-regional .recovered,
  .data-regional .confirmed,
  .data-regional .deaths {
    width: 90%;
    height: 200px;
    flex: 1;
  }
}
/* end media query */
