/* Global css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

/* Navbar */

nav {
  background-color: #222b45;
  color: white;
  font-size: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.5);
}

nav h3 {
  font-family: "Roboto", sans-serif;
}

/* End Navbar */
